@font-face{
    font-family:'bitFont';
    src:url(fonts/PressStart2P-Regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

*{
    font-family:'bitFont',sans-serif;
}

.container1{
    display:flex;
    width:400px;
    /* border:2px solid black; */
    gap:10px;
    flex-wrap:wrap;
}

.logo_pic{
    margin:10px;
    width:50px;
    height:50px;
    padding:5px;
    /* border: 2px solid pink; */
}

.main_heading{
    padding:20px;
    margin-left:10px;
    font-size:20px;
    /* border:2px solid pink; */
}

.sub_heading{
    margin-left:70px;
    margin-top:0px;
    /* border:2px solid pink; */
    padding:5px;
}

.main_heading2 {
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

.list-container{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 100%;
}

.list_table li {
    text-align: left;
    width:100%;   
    margin-left: 0;
    margin-bottom:15px;
    list-style-type: none;
}


.bottom-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

button{
    font-family:'bitfont',sans-serif;
}
