@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #ff0000;
}

html,
body,
* {
  font-family: 'Press Start 2P', cursive !important;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
}